{% load static %}

<footer class="footer" id="footer">
    <div class="container">
        <div class="wrapperr footer-wrapper">
            <h2 class="footer-title">
                The Cellular Shop
            </h2>
            <a href="#" id="arrow"><img src="{% static 'img/arrow_back.svg' %}" alt="arrow"></a>
            <nav class="simple-pages contact">
                <ul>
                    <li><a href="#">+996 700-000-000</a></li>
                    <li><a href="#">Hi@sitename.com</a></li>
                    <li><a href="#">2022© Все права защищены</a></li>
                    <li><a href="#">Designed by Bektur</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>