{% load static %}
<link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
<footer class="footer" id="footer">
    <div class="container">
        <div class="wrapperr footer-wrapper">
            <h2 class="footer-title">
                The Cellular Shop
            </h2>
            <nav class="simple-pages">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </nav>
            <nav class="simple-pages">
                <ul>
                    <li><a href="#">Телефоны</a></li>
                    <li><a href="#">Наушники</a></li>
                    <li><a href="#">Ноутбуки</a></li>
                    <li><a href="#">Клавиатура</a></li>
                </ul>
            </nav>
            <a href="#" id="arrow"><img src="{% static 'img/arrow_back.svg' %}" alt="arrow"></a>
            <nav class="simple-pages contact">
                <ul>
                    <li><a href="#">+996 700-000-000</a></li>
                    <li><a href="#">Hi@sitename.com</a></li>
                    <li><a href="#">2022© Все права защищены</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>