.wrapper {
    display: flex;
    justify-content: space-between;
}

.order-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}

.block-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}

.ordering-wrapper {
    margin-bottom: 40px;
}

.ordering-block {
    width: 100%;
    padding: 50px 70px;
    background: #F6F6F6;
    border-radius: 20px;
    margin-bottom: 60px;
}

.ordering-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.ordering-input {
    padding-left: 50px;
    width: 446px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 250px;
    height: 60px;
    background: #2E2B53;
    border: 1px solid #000000;
    box-shadow: 0 2px 10px #2E2B53;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-wrapper {
    margin-bottom: 100px;
    padding: 0 15%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}