{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" {% block style %}{% endblock %}>
</head>
<body>
{% include 'include/header.html' %}

    <div class="container">
        <div class="wrapper">
            {% block content %}

            {% endblock %}
        </div>
    </div>

{% include 'include/footer.html' %}
</body>
</html>