{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        table {
            border: 1px solid grey;
        }

        th {
            border: 1px solid grey;
        }

        td {
            border: 1px solid grey;
        }
    </style>
    <h1>Очистить корзину</h1>
    <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="url_from" value="{{ request.path }}">
        <button type="submit" class="basket-btn">Очистить</button>
    </form>
    <table style="width:50%">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Poster</th>
            <th>Price</th>
        </tr>
        {% for item in goods_items %}
            {% for goods in item.values %}
                {% for cart in carts %}
                    {% if cart.id == goods %}

                        <tr>
                            <td>{{ cart.id }}</td>
                            <td>{{ cart.title }}</td>
                            <td><img src="{{ cart.poster.url }}" alt=""></td>
                            <td>{{ cart.price }}</td>
                            <td>
                                <form action="{% url 'remove' id=cart.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button type="submit" class="basket-btn">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}