{% extends 'store/base.html' %}
{% load static %}
{% block style %}
    href="{% static 'css/profile.css' %}"
{% endblock %}
{% block title %}
    Профиль
{% endblock %}
{% block content %}
    <nav>
        <ul class="wrapper navigation-wrapper">
            <li><a href=""><span class="navigation-title-active">Профиль</span></a></li>
            <li><a href="{% url 'cart' %}"><span>Корзина</span></a></li>
            <li><a href="{% url 'order:get_orders' %}"><span>Заказы</span></a></li>
        </ul>
    </nav>
    <h1 class="profile-title">Аккаунт</h1>
    <div class="wrapper" style="margin-bottom: 100px">
        <img src="{% static 'img/profile.svg' %}" alt="avatar" class="profile-img">
        <div>
            <div class="profile-block">
                <div class="wrapper profile-wrapper"><p>Имя пользователя:</p><p>{{ user.username }}</p></div>
                <div class="wrapper profile-wrapper"><p>Имя:</p><p>{{ user.first_name }}</p></div>
                <div class="wrapper profile-wrapper"><p>Фамилия:</p><p>{{ user.last_name }}</p></div>
                <div class="wrapper profile-wrapper"><p>Адрес электронной почты:</p><p>{{ user.email }}</p></div>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="profile-btn">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="profile-btn">Войти</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
