{% extends 'store/base.html' %}
{% load static %}
{% block style %}
    href="{% static 'css/profile.css' %}"
{% endblock %}
{% block title %}
    Профиль
{% endblock %}
{% block content %}
    <nav>
        <ul class="wrapper navigation-wrapper">
            <li><a href=""><span class="navigation-title-active">Профиль</span></a></li>
            <li><a href=""><span>Корзина</span></a></li>
            <li><a href=""><span>Заказы</span></a></li>
        </ul>
    </nav>
    <h1 class="profile-title">Аккаунт</h1>
    <div class="wrapper">
        <img src="./img/profile.svg" alt="avatar" class="profile-img">
        <div>
            <div class="profile-block">
                <div class="wrapper profile-wrapper"><p>Имя пользователя:</p><p>Admin</p></div>
                <div class="wrapper profile-wrapper"><p>Имя:</p><p>Бектур</p></div>
                <div class="wrapper profile-wrapper"><p>Фамилия:</p><p>Уланбекович</p></div>
                <div class="wrapper profile-wrapper"><p>Адрес электронной почты:</p><p>admin@mail.ru</p></div>
                <div class="wrapper profile-wrapper"><p>Пароль:</p><p>************</p></div>
            </div>
            <button class="profile-btn">Изменить</button>
            <button class="profile-btn">Выйти</button>
        </div>
    </div>
    <h2 class="last-view-title">Последние просмотренные</h2>
    <div class="wrapper products-wrapper">
        <div class="product-block">
            <div class="product-img-block">
                <img src="img/product_img.svg" alt="iphone" class="product-img">
            </div>
            <div class="product-cart">
                <p class="product-title">Iphone 13 Pro Max</p>
                <p class="product-text">$1199</p>
            </div>
        </div>
        <div class="product-block">
            <div class="product-img-block">
                <img src="img/product_img.svg" alt="iphone" class="product-img">
            </div>
            <div class="product-cart">
                <p class="product-title">Iphone 13 Pro Max</p>
                <p class="product-text">$1199</p>
            </div>
        </div>
        <div class="product-block">
            <div class="product-img-block">
                <img src="img/product_img.svg" alt="iphone" class="product-img">
            </div>
            <div class="product-cart">
                <p class="product-title">Iphone 13 Pro Max</p>
                <p class="product-text">$1199</p>
            </div>
        </div>
        <div class="product-block">
            <div class="product-img-block">
                <img src="img/product_img.svg" alt="iphone" class="product-img">
            </div>
            <div class="product-cart">
                <p class="product-title">Iphone 13 Pro Max</p>
                <p class="product-text">$1199</p>
            </div>
        </div>
    </div>
{% endblock %}
